{# <nav class="navbar navbar-expand-lg primary-color nav-cart container-nav">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fixed-top ml-auto"><i class="fas fa-folder-open btn-lg"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link  space" href="#about">À propos
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link space" href="#project">Projets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link space" href="#design">Design</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav> #}
<nav class="navbar navbar-dark navbar-expand-lg bg-light py-lg-3" id="mainNav">
    <div class="container-fluid"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item mr-5">
              <a class="nav-link active text-warning" aria-current="page" href="#about"><span class="text-color-one">À</span> propos</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link text-warning" href="#project">Projets</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link text-warning" href="#design">Design</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link text-warning" href="#contact">Me contacter</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
